<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            display: flex;
            justify-content: center;
            align-items: center;
            /* min-height: 200px;
            */
        }
        /* #container div{
            /*height: 300px;
            width: 300px; 
            /*margin: 50px;*/
            /* text-align: center; 

        } */
    </style>

</head>
<body>
    <div class="container" style="border-radius: 1rem; border-style: solid; border-width: 0.3rem; border-color:black; padding: 10px;">
        <div id="container">
            <div style="font-weight: bold; text-transform: uppercase;border: 1px solid black; padding: 8px; display: inline-block; margin: 12px; width: 300px; text-align: center;"  >CODE: {{paper.code}}</div>
            <div style="font-weight: bold; text-transform: uppercase;border: 1px solid black; padding: 8px; display: inline-block; margin: 12px; width: auto;"   >{{paper.regulation}}</div>
            <div style="font-weight: bold; text-transform: uppercase;border: 1px solid black; padding: 8px; display: inline-block; margin: 12px; width: 300px;" >{{paper.rollno}}</div>
           </div>
        <div style="font-weight: bold;text-transform: uppercase; display: flex; justify-content: center;">collname</div>
        <div style="font-weight: bold;text-transform: uppercase; display: flex; justify-content: center;">(autonomous)</div>

        
    </div>
</body>
</html>