<div class="row">
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <!-- Add more input boxes as needed -->
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
    <div class="col-sm-1">
        <input type="text" class="form-control" style="color:#146C94" placeholder="H.T.No">
    </div>
</div>
